{% extends "laptopstore/main.html" %}
{% load static %}
{% block content %}

<!-- إضافة رابط لملف CSS المخصص -->
<link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
<h2 class="header">Contact Us</h2>
<div class="contact-form">
    

    <form action="{% url 'contact_us' %}" method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Enter Your Email Address" required>
        <textarea name="message" placeholder="Enter Your Message" rows="5" required></textarea>
        <button type="submit" class="send-btn">Send Message</button>
    </form>
</div>

{% endblock %}
