{% load static %}

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل مستخدم جديد</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
</head>
<body>
    <section style="background: url('{% static 'images/22.jpg' %}') no-repeat center center; background-size: cover; min-height: 100vh; width: 100%;">
        <div class="form-box">
            <div class="form-value">
                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    <h2>Register</h2>

                    <div class="inputbox">
                        <i class="icon fa fa-user"></i>
                        <input type="text" name="username" class="form-control" required>
                        <label for="username">Username</label>
                    </div>

                    <div class="inputbox">
                        <i class="icon fa fa-envelope"></i>
                        <input type="email" name="email" class="form-control" required>
                        <label for="email">Email</label>
                    </div>

                    <div class="inputbox">
                        <i class="icon fa fa-key"></i>
                        <input type="password" name="password1" class="form-control" required>
                        <label for="password1">PassWord</label>
                    </div>

                    <div class="inputbox">
                        <i class="icon fa fa-key"></i>
                        <input type="password" name="password2" class="form-control" required>
                        <label for="password2">Confirm PassWord</label>
                    </div>

                    <script src="https://www.google.com/recaptcha/api.js"></script>
                    <div class="g-recaptcha" data-sitekey="6LfRVnsqAAAAAPVyvSG20ggCv90w51Z2a91JEsWc"></div>

                    <button type="submit" class="button">Register Now</button>

                    <div class="register">
                        <p>Do you have an account ? <a href="{% url 'login' %}">Login</a></p>
                    </div>
                </form>
                {% for msg in messages %}
                    <h4>{{ msg }}</h4>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
</html>
