{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
</head>
<body>
    <section style="background: url('{% static 'images/22.jpg' %}') no-repeat center center; background-size: cover; min-height: 100vh; width: 100%;">
        <div class="form-box">
            <h2>Reset Password </h2>
            <form method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    <div class="inputbox">
                        <i class="icon fa fa-envelope"></i>
                        <label for="email">Email</label>
                        {{ form.email }}
                    </div>
                    <button type="submit" class="btn btn-primary">Send Email</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
