{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/reset_password_form.css' %}">
</head>
<body>
    <section style="background: url('{% static 'images/11.jpg' %}') no-repeat center center; background-size: cover; min-height: 100vh; width: 100%;" class="password-reset-section">
       
        <div class="container">
            {% if validlink %}
                <h1>New Password</h1>

                <form method="POST" class="reset-password-form">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-primary">Change</button>
                    </div>
                </form>
            {% else %}
                <p class="error-message">Expired link. Please try again.</p>
            {% endif %}
        </div>
    </section>
</body>
</html>
