
.footer-section1 img {
  width: 120px; /* عرض الصورة */
  height: auto; /* الحفاظ على نسبة الطول والعرض */
  margin-bottom: 20px; /* مسافة بين الصورة والنص */
  margin-bottom: 33px;
}


.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0px 141px;;
}

.footer-section1 {
  flex: 2;
  min-width: 200px;
  margin: 10px;
  margin-top: 37px;
}
.footer-section1 p{
  color: gray;
  line-height: 1.5;
  font-size: 16px;
}
.footer-section{
  flex: 1;
  margin: 40px 5px;
}

.footer-logo {
  width: 200px;
  margin: 20px;
}

.app-links img {
  width: 120px;
  margin: 10px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 40px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 17px;
  
}

.footer-section ul li a {
  color: gray;
  text-decoration: none;
}

.footer-section form {
  display: flex;
  flex-direction: column;
}

.footer-section input[type="email"] {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  background: #000;
  color: gray;
}


.footer-links{
  list-style: none;
 margin: 20px 0;
}

.footer-links li{
display: inline-block;
}
.footer-links li a{
 display:block;
 width: 15px;
 height:15px;
 background:var(--mainColor);
 color:  var(--whitecolor);
 margin: 0 5px;
 border-radius: 10%;
}
.footer-links li a i{
line-height: 15px;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
}

/* تنسيق النموذج */
.footer-section form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

/* تنسيق حقل البريد الإلكتروني */
.footer-section input[type="email"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}

.footer-section input[type="email"]:focus {
  border-color: #408259;
  outline: none;
}

/* تنسيق حقل الرسالة */
.footer-section textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  resize: vertical;
}

.footer-section textarea:focus {
  border-color: #408259;
  outline: none;
}

/* تنسيق الزر */
.footer-section .send-btn {
  padding: 10px 20px;
  background-color: #408259;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.footer-section .send-btn:hover {
  background-color: #333;
}

.footer-section .send-btn:focus {
  outline: none;
}
